/*Color palette*/
.white {
    color: #FFFFFF
}

.bluegrey {
    color: #E5E9FD
}

.pink {
    color: #F598FF
}

.blue {
    color: #94ABF9
}

.navy {
    color: #171D3A
}

/*Page*/

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
  gap: 40px;
}

.text {
  flex-direction: column;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #4268FD, #C84AFD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text2 {
  flex-direction: column;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #4268FD, #C84AFD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.image {
  width: clamp(180px, 50vw, 750px);
  height: auto;
}

.icon {
  width: clamp(300px, 35vw, 500px);
  height: auto;
}

.topnav {
  background-color: transparent;
  overflow: visible;
  padding: 40px 60px 40px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Obviously", system-ui, -apple-system, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  top: 0;
  z-index: 1000;
}

.nav-links {
    display: flex;
    position: relative;
    top: -10px;
    list-style: none;
    gap: 30px;
}

.menu-toggle {
    display: none; 
    position: relative;
    top: -20px;
    left: -20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}


.homepage {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #94ABF9, #F598FF);
}

.illustration-design {
  margin: 0;
  min-height: 100vh;
  background: #94ABF9
}

.visual-diary {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #94ABF9, #E5E9FD);
}

.tattoo-flash {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #94ABF9, #F598FF);
}

.contact {
  margin: 0;
  min-height: 100vh;
  background: #E5E9FD;
}

a {
  color: #171D3A;
  text-decoration: none;
}

.main-link {
  color: #171D3A;
  text-decoration: underline;
  font-size: 40px;
  font-family: "Obviously", system-ui, -apple-system, sans-serif;
  font-weight: 600;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  max-width: 90vw; 
  margin: 0 auto;
  gap: 20px; 
  padding: 20px;
}

.gallery-VD {
  max-width: 90vw; 
  margin: 0 auto;
  gap: 20px; 
  padding: 20px;
}

.gallery-item {
  width: 100%;     
  height: auto;    
  display: block;  
}

.image-banner{
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.section-title {
  text-align: center;
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
}

.image-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.image-row::-webkit-scrollbar {
  display: none; 
}

.slider-item {
  flex: 0 0 calc(50% - 10px); 
  width: 100%;
  height: auto;
  scroll-snap-align: start;
  border-radius: 8px;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0;
  font-size: 20px;
  transition: background 0.3s ease;
}

.left-arrow { left: 30px; }
.right-arrow { right: 30px; }

.nav-arrow:hover { background: rgba(0, 0, 0, 0.8); }

/* Mobile layout */
@media (max-width: 880px) {
  .menu-toggle {
    display: block;
  }

  .topnav {
    padding: 12px 0; 
  }

.nav-links {
        display: none; 
        flex-direction: column;
        position: absolute; 
        overflow: visible;
        top: 20vw; 
        left: 0;
        width: 100%;
        height: auto;
        background-color: #ffffff; 
        padding: 20px;
    }


  .nav-links.show {
    display: flex;
  }

  .layout {
    flex-direction: column;   
    padding: 15px;
    z-index: 999;
  }

  .image {
    width: 90vw;
    max-width: 100%;
  }

  .icon{
    width: clamp(300px, 85vw, 500px);
    max-width: 100%;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .slider-item {
  flex: 0 0 100%; 
  width: 100%;
  height: auto;
  scroll-snap-align: center; 
  border-radius: 8px;
}
}